@import url('https://fonts.googleapis.com/css?family=Sofia&effect=fire');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: theme('colors.toolbox.beige');
  color: theme('colors.toolbox.dark');
}

.playfair {
  font-family: 'Playfair Display', serif;
}